<h1><%= @place.name %></h1>

<ul>
  <% for entry in @place.entries %>
    <p>
      <strong>Title:</strong> <%= entry.title %><br>
      <strong>Date:</strong> <%= entry.posted_on.strftime("%Y-%m-%d") %><br>
      <strong>Description:</strong> <%= entry.description %>
    </p>
  
  <% end %>
</ul>


<p>
<a href="<%= new_entry_path(@place) %>">New Post</a>
</p>

<p>
<a href="/places">Back to Places</a>
</p>


